
  /* Corpo da página */
  body {
    font-family: Arial, sans-serif;
    background-color: #000000; 
    color: #b3aca4; 
    margin: 0%;
  }

  h2,h3,h4,h5,h6{
    font-family: 'Courier New', Courier, monospace;
  }

  
  /* Estilização de textos e imagens */
  p, li, figcaption {
    color: #b3aca4;
    line-height: 1.5;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  
  /* Cabeçalho */
  #cabecalho {
    background-color: #003769; 
    padding: 1.5rem;
  }
  
  #cabecalho h1,
  #cabecalho p{
    color: #b3aca4;
    font-family: 'Courier New', Courier, monospace;
  }

  #cabecalho h1{
    font-size: 300%;
  }

  #cabecalho p{
    font-size: 150%;
  }

  #cabecalho a{
    color: #1892a7;
    text-decoration: none;
    font-size: larger;
  }
  
  
  /* Main */
  main {
    margin: 5%;
  }
  
  /* Seções gerais */
  section {
    margin-bottom: 2rem;
    padding: 1rem;
  }
  
  /* Sobre mim */
  #sobre-mim h2{
    color: #157a8c;
  }
  
  /* Demais seções */
  #projetos,
  #habilidades,
  #contatos{
    background-color: #106b87; 
    padding: 1rem;
    border-radius: 5px;
  }

  #projetos h2{
    color: #100d33;
  }
  
  /* Artigos dentro da seção de projetos */
  .projs {
    background-color: #100d33;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
  }

  .projs h3, 
  .projs a{
    color: #106b87;
    text-decoration: none;
  }
  

  /* Habilidades */
  #habilidades ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    
  }
  
  #habilidades li {
    background-color: #003769; 
    padding: 1rem;
    border-radius: 20px;
  }
  
  /* Contatos */
  #contatos a {
    color: #003769;
    text-decoration: none;
  }
  
  /* Rodapé */
  #rodape p{
    color: #b3aca4; 
    text-align: center;
  }

 
  